# Docker Volumes - CRITICAL to ignore the *CONTENTS*
logs/
mysql_data/
reporting_db_data/
pgdata/
# If you have a volume for Superset's internal data
superset_home/

# Python compiled files and environment
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Local environment variables (even if generic for demo, best practice not to commit actual .env)
.env

# Other common ignores
.vscode/
.idea/
.DS_Store
*.log
*.swp